<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<head>
    <title> show that I am learning HTML</title>
    <link href="style.css"  rel="stylesheet" type="text/css"/>
</head>
<body>
<b>have a test of oneline</b><br>
hahahah <br>
another hahahah <br>

<h1>chapter 1</h1>
<p>java 是一个可以可以编辑网页的实用语言，他促进了很多的行业的发展</p>
<center>
    <h2>section 1</h2>
    <p>in this paragraph I want to test the section 1/</p>
</center>

<h2>section 2</h2>
<p>
    the knowlesge you should lwarn is about :
<ul>
    <li> java
    <li> javascript
    <li> css
    <li> HTML
    <li> and so on
</ul>
Ok, I will list again and show the rank:
<ol>
    <li> java
    <li> javascript
    <li> css
    <li> HTML
    <li> and so on
</ol>
</p>

<h2>section3</h2>
<p>
    in this section, we test the table:
<h4 style="text-align:center">课程表</h4>
<table border="1" cellpadding="10" width="100%" align="center">
    <caption><b>this is a table</b></caption>
    <tr>
        <th colspan="2">时间\日期</th>
        <th>一</th>
        <th>二</th>
        <th>三</th>
        <th>四</th>
        <th>五</th>
    </tr>

    <tr>
        <th rowspan="2">上午</th>
        <th>9:30-10:15</th>
        <th>语文</th>
        <th>语文</th>
        <th>语文</th>
        <th>语文</th>
        <th>语文</th>
    </tr>

    <tr>
        <th>10:25-11:10</th>
        <th>语文</th>
        <th>语文</th>
        <th>语文</th>
        <th>语文</th>
        <th>语文</th>
    </tr>

    <tr>
        <th colspan="7">what's this </th>
    </tr>

    <tr>
        <th rowspan="2">下午</th>
        <th>14:30-15:15</th>
        <td align="center">语文</td>
        <td align="center">语文</td>
        <td align="center">语文</td>
        <td align="center">语文</td>
        <td align="center">语文</td>
    </tr>

    <tr>
        <th>15:25-16:10</th>
        <th>语文</th>
        <th>语文</th>
        <th>语文</th>
        <th>语文</th>
        <th>语文</th>
    </tr>
</table>
</p>

<h2>section4</h2>
This is for testing the form.
<form method=”post” action=”./21chuli.php” name="myform">
    用户名：<input type=”text”  name="username" value="mike" size="20" maxlength="20"/><br>
    密码：<input type="password" size="20" maxlength="20"/>
    <input type="radio" name="sex" value="male" checked>男<input type="radio" name="sex" value=""female>女

    <br><br><br>
    爱好1：<input type="checkbox" name="sport" value="sports" checked/>运动
    　　               <input type="checkbox" name="book" value="book"/>看书
    　            <input type="checkbox" name="sleep" value="sleep"/>睡觉

    <br>
    爱好2：
    <select name="intrest" >
        <option value="sport" selected>运动动</option>
        <option value="game">游戏戏</option>
        <option value="sleep">睡觉觉</option>
        <option value="eat">吃饭饭</option>
    </select>

    <br>
    生日：<select name="year">
    <option value="1" selected>1991</option>
    <option value="2">1992</option>
    <option value="3">1993</option>
</select>年

    <select name="mouth">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3" selected>11</option>
    </select>月

    <select name="day">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3" selected>30</option>
    </select>日

    <br>
    选择文件：<input type="file" name="file"/>

    <br><br><br>
    <textarea name="textarea" rows="10" cols="50">write the message you like tell us</textarea>

    <br>
    <input type="submit"/>

    <br>
    <input type="reset"/>

    <br>
    <input type="image" src="C:\Users\I529775\Desktop\Yuki.jpg" width="533" height="300"/>

    <br>
    <input type="button" name="sign_up" value="注册" onclick="alert('yes')"/>

</form>



<h2 class="one">section 5</h2>
超链接的实践:
<a href="https://www.baidu.com/" target="_blank">click this</a>

<br>
<h2 class="two">section 6</h2>
图片标记：
<image src="C:\Users\I529775\Desktop\yuki.png" width="533" height="300" alt="yuki picture"></image>

<br>
<h2>General test</h2>
<table name="sell" border="1" align="center">
    <tr>
        <td>
            <image src="C:\Users\I529775\Desktop\book1.jpg" width="500" heigt="500" alt="book1"></image>
        </td>
        <td align="center">
            <image src="C:\Users\I529775\Desktop\book2.jpg" width="350" heigt="350" alt="book2"></image>
        </td>
    </tr>
    <tr>
        <td align="center">book1</td>
        <td align="center">book2</td>
    </tr>
    <tr>
        <td>
            <image src="C:\Users\I529775\Desktop\book3.jpg" width="500" heigt="500" alt="book3"></image>
        </td>
        <td>
            <image src="C:\Users\I529775\Desktop\book4.jpg" width="500" heigt="500" alt="book4"></image>
        </td>
    </tr>
    <tr>
        <td align="center">book3</td>
        <td align="center">book4</td>
    </tr>
</table>


<acticle>
    <header>
        <h1>苹果美容</h1>
    </header>
    现在对苹果美容进行描述
    现在对苹果美容进行描述
    现在对苹果美容进行描述
    现在对苹果美容进行描述
    现在对苹果美容进行描述
    现在对苹果美容进行描述
    现在对苹果美容进行描述
    <footer>
        2020.4.30 write by Deng Yinxxiang
        if you like it have a try
    </footer>
</acticle>


<div id='clock'></div>
<br>
<script language="javascript">
		var price =92;
		var number =10;
		var sum=price * number;
		//alert(sum)

	    win=open("testlink.html","testlink","width=531,height=402,top=50,left=20");


		window.onload = function() {
			var clock = document.getElementById('clock');

			function realSysTime() {

				var now = new Date();
				var year = now.getFullYear();
				var month = now.getMonth() + 1;
				var date = now.getDate();
				var day = now.getDay();
				var hours = now.getHours();
				var minutes = now.getMinutes();
				var seconds = now.getSeconds();

				var arr_week = ["星期日", "星期一","星期二","星期三","星期四","星期五","星期六"];
				var week = arr_week[day];
				var time = year+"年"+month+"月"+date+"日"+"week"+" "+hours+":"+minutes+":"+seconds;
				clock.innerText = time;
			};

			window.setTimeout(function update() {
				realSysTime();
				window.setTimeout(update, 1000);
			}, 0);
		};

	</script>











<br><br><br><br>
</body>
</html>